<ion-content padding class="masters">
  <div id="principal" [hidden]="escondePrincipal">
    <div text-center>
      <img src="{{logoImage}}" class="logoPassaro" alt="">
      <ion-label class="chirpName">Chirp</ion-label>
    </div>
    <div class="enterRoom" text-center>
      <ion-input type="text" [(ngModel)]="numeroSala" placeholder="Número da Sala" class="inputTransparent" transparent></ion-input>
    </div>

    <div text-center>
      <button ion-button (click)="openDetails('entrar')" color="light" round>Entrar na Sala</button>
    </div>

    <div text-center>
      <button ion-button (click)="openDetails('criar')" color="light" round>Criar uma Sala</button>
    </div>
  </div>
  <div id="entrar" class="entrar" [hidden]="escondeEntrar" text-center>
    <div text-center class="entrarLogo">
      <img src="{{logoImage}}" class="logoPassaro" alt="">
    </div>
    <div class="timer">
      <ion-label class="iniciarName">{{hourtime}}:{{minutetime}}:{{secondtime}}</ion-label>
    </div>
    <div class="timer">
      <ion-label class="iniciarName">Sala: {{numeroSala}}</ion-label>
    </div>
    <div>
      <button ion-button (click)="sair()" color="light" round>Sair</button>
    </div>

  </div>
  <div id="criar" class="criar" [hidden]="escondeCriar" text-center>
    <div text-center class="criarLogo">
      <img src="{{logoImage}}" class="logoPassaro" alt="">
    </div>
    <div text-center class="multi-picker">
      <ion-item>
        <ion-label trasparent>Quanto tempo?</ion-label>
        <ion-multi-picker [(ngModel)]="tempo" item-content [multiPickerColumns]="simpleColumns" [separator]="' '"></ion-multi-picker>
      </ion-item>
    </div>
    <div>
      <button ion-button (click)="iniciar()" color="light" round>Iniciar</button>
    </div>
  </div>
</ion-content>