page-home {

}

.masters {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.Estilodecaracterenormal
{
  font-family : Helvetica;
  font-size : 17px;
  letter-spacing : -0.41px;
  color : #000000;
  color : rgb(0, 0, 0);
}

.logoPassaro {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    //background: url('../../assets/imgs/logopassaro.svg')
}

.inputTransparent {
  border-bottom: 1px solid white;
  color: black;
}

.enterRoom{
  padding-top: 80px;
  padding-bottom: 50px;
}

.chirpButtons{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-radius : 7px;
  -moz-border-radius : 7px;
  -webkit-border-radius : 7px;
  font-family : Helvetica Neue;
  font-size : 20px;
  color : #505050;
  color : rgb(80, 80, 80);
}

.chirpName{
  font-family : SignPainter;
 font-size : 49px;
 color : #FCFCFC ;
 color : rgb(252, 252, 252);
 text-shadow : 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.criar{
  padding-top : 50px;
}

.entrar{
  padding-top : 50px;
}

.criarLogo{
  padding-bottom : 60px;
}

.entrarLogo{
  padding-bottom : 60px;
}

.multi-picker{
  padding-bottom : 60px;
}

.timer{
  padding-bottom : 40px;
}

.iniciarName{
 font-size : 49px;
 color : #FCFCFC ;
 color : rgb(252, 252, 252);
 text-shadow : 0px 3px 1px rgba(0, 0, 0, 0.2);
}